{% extends '@araiseCrud/dashboard.html.twig' %}


{% block dashboard_paragraph %}

	<div id="page-content-container">
		{% for index,content in pageContents %}
			{{ render_page_content(content) }}
		{% endfor %}
	</div>

{% endblock %}
